{{!-- <section>

<h2>Employee Hours</h2> --}}

{{!-- <ol class="post-list"> --}}

<article class="post">
  
  <div class="title">
      <a href="/employee-info/{{id}}"> Employee Name {{username}} </a>                
  </div>
  <div class="meta">
   <p> Remaining PTO hours: {{pto}} </p> 
   <p> Remaining Holiday hours: {{holiday}}  </p>
   <p> Remaining Sick Time hours: {{sick}}  </p> 
  </div>

</article>

{{!-- </ol> --}}
{{!-- </section>  --}}